body {
	margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
	background-color: #7500c4;
}

h1 {
	color: white;
}

.temples {
    display: flex;
    flex-direction: column;
	justify-content: space-evenly;
}

footer {
    background-color: #7500c4;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    color: white;
    height: 150px;
}

#menu {
	font-size: 1.5rem;
	border: 0;
	background: none;
	color: #000;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover {
	font-weight: 700;
}

.open a {
	display: block;
}

figure {
	display: flex;
	flex-direction: column;
	align-items: center;
    background-color: #eeeeee;
    width: 350px;
    padding-bottom: 30px;
    border: 1px solid #d6d6d6;
}

figure h1 {
    color: black;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
}