@media (min-width: 37.5em) {
	#menu {
		display: none;
	}

	.navigation {
		flex-direction: row;
        gap: 5rem;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

    .temples {
        flex-direction: row;
        flex-wrap: wrap;
    }
}